@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
	Layout = null;

Html.RequiresCss("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
Html.RequiresCss("/css/bootstrap.min.css");
Html.RequiresCss("/css/main.css");
Html.RequiresJs("/js/bootstrap.bundle.min.js");

}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.84.0">
	<title>Altra</title>
	@Html.RenderCssHere()
</head>
<body>
	@Html.Partial("~/Views/Partials/Navigation.cshtml")
	<!-- Page Content Area Start -->
	@RenderBody()
	<!-- Page Content Area End -->
	@Html.Partial("~/Views/Partials/Footer.cshtml")
	<!-- Script -->
	@Html.RenderJsHere()
</body>
</html>

